<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.dao.MovieActorMapper">
    <resultMap id="ActorResultMap" type="lt.vu.mybatis.model.Actor">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
        <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    </resultMap>
    <resultMap id="MovieResultMap" type="lt.vu.mybatis.model.Movie">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="YEAR" jdbcType="VARCHAR" property="year" />
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyColumn="ID">
        insert into PUBLIC.MOVIE_ACTOR (MOVIE_ID, ACTOR_ID)
        values (#{movieId,jdbcType=INTEGER}, #{actorId,jdbcType=INTEGER})
    </insert>
    <select id="selectActorMovies" parameterType="java.lang.Integer" resultMap="MovieResultMap">
        select m.ID, m.NAME, m.YEAR
        from PUBLIC.ACTOR as a
        INNER JOIN PUBLIC.MOVIE_ACTOR as ma
        ON a.ID = ma.ACTOR_ID
        INNER JOIN PUBLIC.MOVIE as m
        ON ma.MOVIE_ID = m.ID
        where a.ID = #{id,jdbcType=INTEGER};
    </select>
    <select id="selectMovieActors" parameterType="java.lang.Integer" resultMap="ActorResultMap">
        select a.ID, a.FIRSTNAME, a.LASTNAME
        from PUBLIC.ACTOR as a
        INNER JOIN PUBLIC.MOVIE_ACTOR as ma
        ON a.ID = ma.ACTOR_ID
        INNER JOIN PUBLIC.MOVIE as m
        ON ma.MOVIE_ID = m.ID
        where m.ID = #{id,jdbcType=INTEGER};
    </select>
</mapper>